global
    daemon
    maxconn 256

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http-in
    bind *:{{ haproxy_port }} v4v6
    default_backend webservers

backend webservers
    balance roundrobin
    server web1 {{ hostvars['web1']['ansible_host'] }}:80 check
    server web2 {{ hostvars['web2']['ansible_host'] }}:80 check
